##### Q1

What will the output be of ((500//7) % 5) ** 3?

In [1]:
((500//7) % 5) ** 3

1

##### Q2

How will you extract ‘love’ from the string S = “I love Python”? (More than one option may be correct.).

In [5]:
s = "I love Python"
s.split()[1]

'love'

##### Q3

What will the output of 3 * 3 ** 3 be?

In [6]:
3 * 3 ** 3

81

##### Q4

If you have a tuple T = (3, 5, 7, 11), what will the output of T.append(9) be?

# Error

##### Q5

What will the output of the following program be?

L1 = ['Vikas', 'Akshay', 'Sanskar', 'Mahima']

print(L1[1][-1])

In [8]:
L1 = ['Vikas', 'Akshay', 'Sanskar', 'Mahima']

print(L1[1][-1])

y

##### Q6

What will be the output ?

l = [32, 34, 12, 27, 33]

l.append([14, 19])

print(len(l))

In [9]:
l = [32, 34, 12, 27, 33]

l.append([14, 19])

print(len(l))

6